---
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  </div>
  <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
    Ivan Blasko
  </h1>
  <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
    💻 Desarrollo Web y Bases de Datos
    <br />
    🚀 Tecnologías: HTML, CSS, JavaScript, Astro, Node.js, SQL, Docker, GCP
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill>
      <MailIcon class="size-4" href="mailto:ivanblasko100@gmail.com" />
      Contáctame
    </SocialPill>
  </nav>
</div>
